h1{
  position: absolute;
top: 2%;
left: 40%;
  color:white;
  font-weight: bold;


}
body {
  background-image: url("bs.jpg");
}
.container {
  display: block;
  position: absolute;
  font-size: 10px;
  top: 39.5%;
left: 38.75%;
color: white;
font-style: "Times New Roman", Times, serif;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.form-control {
  display: block;
  width: 85%;
  height: 18px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  }
  .a{
    text-align: center;
position: absolute;
top: 15%;
left: 42.5%;
font-size: 20px;
color: white;
font-weight: bold;
}
.b{
    text-align: center;
position: absolute;
top: 25%;
left: 42.5%;
font-size: 20px;
color: white;
font-weight: bold;
}
.c{
    text-align: center;
position: absolute;
top: 35%;
left: 47.75%;
font-size: 20px;
color: white;
font-weight: bold;
}
.d{
    text-align: center;
position: absolute;
top: 45%;
left: 42.75%;
font-size: 20px;
color: white;
font-weight: bold;
}
.e{
    text-align: center;
position: absolute;
top: 55%;
left: 42.75%;
font-size: 20px;
color: white;
font-weight: bold;
}
.f{
    text-align: center;
position: absolute;
top: 65%;
left: 42.75%;
font-size: 20px;
color: white;
font-weight: bold;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
top: 85%;
left: 45.75%;
}
